<h1>My tasks</h1>

<ul>
  <% @tasks.each do |task| %>
  <li style="text-decoration: none">
  <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
  <%= link_to task.title, task_path(task) %>
  ·
  <%= link_to task_path(task), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
  <i class="fa-solid fa-trash ml-2"></i>
  <% end %>
  <% end %>
</ul>


<i class="fa-solid fa-plus"></i>
<%= link_to "Create a new task", new_task_path %>
